body {
  margin: 0;
  background-color: #262626;

  font-family: "Cousine", monospace;
}

.header {
  position: sticky;
  top: 0;
  height: 4rem;

  border-bottom: solid 1px #393939;
  background-color: #161616;
}

.header-content {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  font-size: large;
}

.header-content,
.content {
  margin: 0 auto;
  max-width: 1140px;

  color: #f4f4f4;
}

.nav {
  display: flex;
  justify-content: flex-end;
  column-gap: 3rem;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

.landing {
  padding-top: calc(30vh);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.landing .heading {
  min-width: 240px;
  max-width: 40%;
  font-size: 32px;
}

.subtext {
  min-width: 400px;
  max-width: 60%;
}

.email {
  text-decoration: underline;
}

.resume {
  padding-top: calc(30vh);
  padding-bottom: 8rem;
}

.resume .heading {
  display: flex;
  font-size: xx-large;
}

.icon {
  padding-left: 1rem;
  height: 37px;
}

.section {
  padding-top: 3rem;
}

.section .title {
  font-size: xx-large;
}

.subsection-container {
  border-left: 2px dashed #393939;
}

.subsection {
  padding-left: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.subsection * {
  padding-top: 4px;
}

.date {
  font-size: large;
  color: #c6c6c6;
}

.job {
  font-size: x-large;
}

.description {
  color: #c6c6c6;
}

.bullet-container {
  display: flex;
  flex-direction: row;
}
